* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f6fa;
    margin: 0;  /*make sure header fills the space on top and sides*/
    padding: 0;
}

/* ===== HEADER ===== */
.top-bar {
    height: 70px;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* LOGO */
.logo img {
    height: 40px;
    width: auto;
    transition: height 0.3s ease;
}
.logo a:hover img{
    height: 50px;
    width: auto;
}

/* NAV MENU */
.nav-menu {
    display: flex;
    gap: 30px;
    margin-left: 40px;
}

.nav-menu a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    padding-bottom: 4px;
}

.nav-menu a:hover {
    border-bottom: 2px solid #6a5acd;
}

/* USER ICON */
.user-icon {
    margin-left: auto;
    font-size: 28px;
    cursor: pointer;
}
.user-icon2{
    font-size: 60px;
}

/* ===== MAIN CONTENT ===== */
.content {
    margin: 30px auto;
    width: 92%;
    height: calc(100vh - 120px);
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    padding: 30px;
}

/*Button*/
.button {
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    background-color: #6c6b7b;
    color: white;
    padding: 10px 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.button:hover {
    background-color: #4f4e5c;
}

.form{
    padding: 30px;
    background-color: #e1e0e1;
    border-radius: 50px;
    margin: 70px auto;
    width: 90;
    max-width: 600px;
}
.form td {
    padding: 5px 15px;
}
.form input{
    box-sizing: border-box;
}
/*Section*/
.section{
    padding: 30px;
    background-color: #e1e0e1;
    border-radius: 50px;
    margin: 70px auto;
    width: 90%;
/*    max-width: 1000px;*/
}
.section td {
    padding: 5px 15px;
}
.section input{
    box-sizing: border-box;
}

/*Title*/
.title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-cell {
    text-align: center;        /* pushes content to the right */
    white-space: nowrap;      /* prevents wrapping */
}

